coverage>=7.4.1,<7.5
black>=24.1.1,<25.2
autoflake>=2.3.1,<2.4
isort>=5.13.2,<5.14
ruff>=0.13.3,<0.14

django-extensions>=3.2.3,<3.3
django-debug-toolbar>=6.0.0,<6.1
django-browser-reload>=1.17.0,<1.18

faker>=33.0.0,<33.1.0
freezegun>=1.5.4,<1.6

# Documentation
sphinx>=8.2.3,<8.3
myst-parser>=4.0.1,<4.1
sphinx-rtd-theme>=3.0.2,<3.1
sphinx-book-theme>=1.1.4,<1.2   
sphinx-autobuild>=2024.10.3,<2024.11