{% extends "admin/base_site.html" %} {% load i18n admin_urls %} 
{% block extrahead %}
<style>
  label.required::after {
    content: '*' !important;
    color: red !important;

    margin-left: 5px;

    font-size: inherit !important;
    line-height: inherit !important;
    vertical-align: baseline !important;
  }

  #custom-nav {
    padding: 0;
    font-weight: 300;
    font-size: 0.6875rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  #custom-nav a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }
  #custom-nav a:hover {
    text-decoration: none;
    border-bottom: 0;
  }
</style>
<script>
  // Timezone settings
  const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone // e.g. "America/New_York"
  document.cookie = `user_timezone=${timezone};path=/`
  console.log('timezone:', timezone)
</script>
{% endblock %} {% block nav-global %}
<div id="custom-nav">
  User Timezone: <span id="user-timezone"></span> |
  <a href="{% url 'core:sysinfo' %}">System Status</a>
</div>
{% endblock %} {% block content %} {% endblock content %} {% block footer %}
<script>
  // Override behavior at https://github.com/django/django/blob/main/django/contrib/admin/static/admin/js/admin/DateTimeShortcuts.js#L34
  document.body.dataset.adminUtcOffset = new Date().getTimezoneOffset() * -60
  document.querySelector('#user-timezone').textContent = timezone
  
  let headerElement = document.querySelector('#header')
  let userToolsElement = document.querySelector('#user-tools')
  let customNavElement = document.querySelector('#custom-nav')
  
  // Make custom nav elements the center of the nav bar
  headerElement.insertBefore(customNavElement, userToolsElement)
</script>
{% endblock footer %}
