name: Push Docs to S3
on:
  push:
    branches:
      - 'dev'
      
  pull_request:
    types: [closed]
    branches:
      - 'main'

jobs:
  push-docs-s3:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Docker Compose
        run: |
          sudo curl -L https://github.com/docker/compose/releases/latest/download/docker-compose-$(uname -s)-$(uname -m) -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Build static files
        run: |
          echo "S3_STORAGE_BUCKET_NAME=${S3_STORAGE_BUCKET_NAME}" >> .env
          sudo chmod -R 777 ./docs/ 
          
          task push:docs
        env:
          S3_STORAGE_BUCKET_NAME: ${{ secrets.S3_STORAGE_BUCKET_NAME }}
